/* Colors */

$primary: #0090ff;
$secondary: #fff;

/* ------- */

.content-wrapper{
    width: 100%;
    height: 100vh;

    .content-header{
        background: rgba(255, 255, 255, 0.15);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 11px );
        -webkit-backdrop-filter: blur( 11px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );

        width: 100%;
        height: 350px;

        border-radius: 0 0 35% 35%;
        text-align: center;
        position: relative;

        .content-header__logo{
            max-width: 300px;
            width: calc(100% - 20px);
 
            margin: 0 auto;
            margin-top: 80px;
        }
        a{
            position: absolute;
            top: 20px;
            left: 20px;
            text-decoration: none;
            color: $secondary;
            font-size: 1.6em;
        }
        .header{
            margin-top: 30px;
            .title{
                font-size: 1.3em;
                font-weight: bold;
                color: white;

                b{
                    color: #00c3ff;
                    font-size: 27px;
                }
            }
            h1{
                font-weight: bold;
                color: white;
            }
            p{
                margin: 8px 20px;
                line-height: 15px;
                color: #b4bdd1;
            }    
        }
    }
    .content-body{
        width: 90%;

        margin: 50px auto;
        text-align: center;
        color: #fff;

        padding: 20px;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        
        .form-buttons{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .button-login{
                background: $primary;
                max-width: 250px;
                width: 100%;
                height: 60px;

                margin: 10px;
                border-radius: 20px;

                display: flex;
                justify-content: center;
                align-items: center;

                background: linear-gradient(to right, #932CFC, #2237E6);
                text-decoration: none;
                font-size: 18px;

                color: white;

                i{
                    margin-right: 10px;
                }
            }
            .button-register{
                text-decoration: none;
                color: #c1c9da;
            }
            .button-register:hover{
                color: white;
            }
        }        
    }
}