/* Colors */

$primary: #0090ff;
$secondary: #fff;

/* ------- */

.usuario-wrapper {
  height: 250px !important;
  position: relative;

  .header {
    width: 100% !important;
    position: absolute;
    bottom: 30px;

    .profile {
      width: 100%;
      margin: 0;

      .profile-img {
        width: 120px;
        height: 120px;
        border-radius: 50%;

        background: white;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        margin: 10px auto;

        i {
          background: $primary;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          font-size: 2.5em;
        }
      }
      .profile-name {
        text-align: center;
        h2 {
          color: white;
          font-size: 1.5em;

          margin: 5px auto;

          max-width: 250px;
          width: 100%;

          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        h4 {
          color: #ddd;
          margin: 5px auto;

          font-size: 20px;

          max-width: 200px;
          width: 100%;
          font-weight: 300;
        }
        p {
          color: #ddd;
          margin: 0 auto;

          max-width: 160px;
          width: 100%;
        }
      }
    }
  }
}
