/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand");
/* Colors */
/* Basics */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Quicksand';
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

/* SCSS Components */
/* Colors */
/* ------- */
.app-background {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1;
  background: #fff;
}

/* Colors */
/* ------- */
.content-wrapper {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 1fr;
      grid-template-columns: 40% 1fr;
}

.content-wrapper .header, .content-wrapper .header-pc {
  margin-top: 30px;
  display: none;
}

.content-wrapper .header .title, .content-wrapper .header-pc .title {
  font-size: 1.3em;
  font-weight: bold;
  color: white;
}

.content-wrapper .header .title b, .content-wrapper .header-pc .title b {
  color: #00c3ff;
  font-size: 27px;
}

.content-wrapper .header h1, .content-wrapper .header-pc h1 {
  font-weight: bold;
  color: white;
}

.content-wrapper .header p, .content-wrapper .header-pc p {
  margin: 8px 20px;
  line-height: 15px;
  color: #b4bdd1;
}

.content-wrapper .header-pc {
  display: block;
}

.content-wrapper .content-header {
  background: #0090ff;
  width: 100%;
  height: 100vh;
  border-radius: 0 35% 35% 0%;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-wrapper .content-header .content-header__logo {
  max-width: 300px;
  width: calc(100% - 20px);
  margin: 0 auto;
}

.content-wrapper .content-header a {
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  z-index: 20;
}

.content-wrapper .content-body {
  width: 90%;
  margin: 50px auto;
  text-align: center;
  color: #fff;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-wrapper .content-body .form-buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-wrapper .content-body .form-buttons .button-login {
  background: #0090ff;
  max-width: 250px;
  width: 100%;
  height: 60px;
  margin: 10px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0090ff;
  text-decoration: none;
  font-size: 18px;
  color: white;
}

.content-wrapper .content-body .form-buttons .button-login i {
  margin-right: 10px;
}

.content-wrapper .content-body .form-buttons .button-register {
  text-decoration: none;
  color: #888;
}

.content-wrapper .content-body .form-buttons .button-register:hover {
  color: #333;
}

@media screen and (max-width: 800px) {
  .content-wrapper {
    width: 100%;
    height: 100vh;
    display: block;
  }
  .content-wrapper .header {
    display: block;
  }
  .content-wrapper .header-pc {
    display: none;
  }
  .content-wrapper .content-header {
    background: #0090ff;
    width: 100%;
    height: 350px;
    border-radius: 0 0 35% 35%;
    text-align: center;
    position: relative;
    display: block;
  }
  .content-wrapper .content-header .content-header__logo {
    max-width: 300px;
    width: calc(100% - 20px);
    margin: 0 auto;
    margin-top: 80px;
  }
  .content-wrapper .content-header a {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
  }
  .content-wrapper .content-header .header {
    margin-top: 30px;
  }
  .content-wrapper .content-header .header .title {
    font-size: 1.3em;
    font-weight: bold;
    color: white;
  }
  .content-wrapper .content-header .header .title b {
    color: #00eeff;
    font-size: 27px;
  }
  .content-wrapper .content-header .header h1 {
    font-weight: bold;
    color: white;
  }
  .content-wrapper .content-header .header p {
    margin: 8px 20px;
    line-height: 15px;
    color: #b4bdd1;
  }
  .content-wrapper .content-body {
    width: 90%;
    margin: 50px auto;
    text-align: center;
    color: #fff;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content-wrapper .content-body .form-buttons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content-wrapper .content-body .form-buttons .button-login {
    background: #0090ff;
    max-width: 250px;
    width: 100%;
    height: 60px;
    margin: 10px;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #0090ff;
    text-decoration: none;
    font-size: 18px;
    color: white;
  }
  .content-wrapper .content-body .form-buttons .button-login i {
    margin-right: 10px;
  }
  .content-wrapper .content-body .form-buttons .button-register {
    text-decoration: none;
    color: #888;
  }
  .content-wrapper .content-body .form-buttons .button-register:hover {
    color: #333;
  }
}

/* Colors */
/* ------ */
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background: linear-gradient(145deg, #3c4b8b, #091547);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  -webkit-animation: loader 2s infinite ease;
          animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  -webkit-animation: loader-inner 2s infinite ease-in;
          animation: loader-inner 2s infinite ease-in;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

/* Colors */
/* ------- */
.content-login, .content-register, .content-password {
  width: 90%;
  margin: 50px auto;
  text-align: center;
  color: #fff;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-login .steps, .content-register .steps, .content-password .steps {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.content-login .steps .step1, .content-register .steps .step1, .content-password .steps .step1 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #0090ff;
  z-index: 1;
}

.content-login .steps .step2, .content-login .steps .step3, .content-register .steps .step2, .content-register .steps .step3, .content-password .steps .step2, .content-password .steps .step3 {
  right: calc(50% - 10px);
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #004f8b;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 1;
}

.content-login .steps .step3, .content-register .steps .step3, .content-password .steps .step3 {
  right: 0;
}

.content-login .steps .line, .content-register .steps .line, .content-password .steps .line {
  width: 100%;
  height: 7px;
  background-color: #004f8b;
  border-radius: 20px;
}

.content-login .steps .complete, .content-register .steps .complete, .content-password .steps .complete {
  position: absolute;
  width: 0%;
  height: 7px;
  background-color: #0090ff;
  border-radius: 20px;
  -webkit-transition: .5s;
  transition: .5s;
}

.content-login .form-inputs, .content-login .step2-form, .content-login .step3-form, .content-register .form-inputs, .content-register .step2-form, .content-register .step3-form, .content-password .form-inputs, .content-password .step2-form, .content-password .step3-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-login .form-inputs .input, .content-login .step2-form .input, .content-login .step3-form .input, .content-register .form-inputs .input, .content-register .step2-form .input, .content-register .step3-form .input, .content-password .form-inputs .input, .content-password .step2-form .input, .content-password .step3-form .input {
  width: 100%;
  position: relative;
}

.content-login .form-inputs .input input, .content-login .step2-form .input input, .content-login .step3-form .input input, .content-register .form-inputs .input input, .content-register .step2-form .input input, .content-register .step3-form .input input, .content-password .form-inputs .input input, .content-password .step2-form .input input, .content-password .step3-form .input input {
  width: 100%;
  height: 50px;
  padding: 10px;
  padding-left: 30px;
  margin: 5px 0;
  background: #ececec;
  border: none;
  border-radius: 10px;
  outline: none;
  color: #444;
}

.content-login .form-inputs .input input::-webkit-input-placeholder, .content-login .step2-form .input input::-webkit-input-placeholder, .content-login .step3-form .input input::-webkit-input-placeholder, .content-register .form-inputs .input input::-webkit-input-placeholder, .content-register .step2-form .input input::-webkit-input-placeholder, .content-register .step3-form .input input::-webkit-input-placeholder, .content-password .form-inputs .input input::-webkit-input-placeholder, .content-password .step2-form .input input::-webkit-input-placeholder, .content-password .step3-form .input input::-webkit-input-placeholder {
  color: #444;
}

.content-login .form-inputs .input input:-ms-input-placeholder, .content-login .step2-form .input input:-ms-input-placeholder, .content-login .step3-form .input input:-ms-input-placeholder, .content-register .form-inputs .input input:-ms-input-placeholder, .content-register .step2-form .input input:-ms-input-placeholder, .content-register .step3-form .input input:-ms-input-placeholder, .content-password .form-inputs .input input:-ms-input-placeholder, .content-password .step2-form .input input:-ms-input-placeholder, .content-password .step3-form .input input:-ms-input-placeholder {
  color: #444;
}

.content-login .form-inputs .input input::-ms-input-placeholder, .content-login .step2-form .input input::-ms-input-placeholder, .content-login .step3-form .input input::-ms-input-placeholder, .content-register .form-inputs .input input::-ms-input-placeholder, .content-register .step2-form .input input::-ms-input-placeholder, .content-register .step3-form .input input::-ms-input-placeholder, .content-password .form-inputs .input input::-ms-input-placeholder, .content-password .step2-form .input input::-ms-input-placeholder, .content-password .step3-form .input input::-ms-input-placeholder {
  color: #444;
}

.content-login .form-inputs .input input::placeholder, .content-login .step2-form .input input::placeholder, .content-login .step3-form .input input::placeholder, .content-register .form-inputs .input input::placeholder, .content-register .step2-form .input input::placeholder, .content-register .step3-form .input input::placeholder, .content-password .form-inputs .input input::placeholder, .content-password .step2-form .input input::placeholder, .content-password .step3-form .input input::placeholder {
  color: #444;
}

.content-login .form-inputs .input i, .content-login .step2-form .input i, .content-login .step3-form .input i, .content-register .form-inputs .input i, .content-register .step2-form .input i, .content-register .step3-form .input i, .content-password .form-inputs .input i, .content-password .step2-form .input i, .content-password .step3-form .input i {
  position: absolute;
  top: 22px;
  left: 10px;
  color: #444;
}

.content-login .form-inputs button, .content-login .step2-form button, .content-login .step3-form button, .content-register .form-inputs button, .content-register .step2-form button, .content-register .step3-form button, .content-password .form-inputs button, .content-password .step2-form button, .content-password .step3-form button {
  background: #0090ff;
  width: 100%;
  height: 50px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.content-login .form-inputs button i, .content-login .step2-form button i, .content-login .step3-form button i, .content-register .form-inputs button i, .content-register .step2-form button i, .content-register .step3-form button i, .content-password .form-inputs button i, .content-password .step2-form button i, .content-password .step3-form button i {
  margin-right: 10px;
}

.content-login .form-inputs .pass, .content-login .step2-form .pass, .content-login .step3-form .pass, .content-register .form-inputs .pass, .content-register .step2-form .pass, .content-register .step3-form .pass, .content-password .form-inputs .pass, .content-password .step2-form .pass, .content-password .step3-form .pass {
  text-decoration: none;
  color: #888;
  font-weight: 300;
}

.content-login .steps-form, .content-register .steps-form, .content-password .steps-form {
  width: 100%;
  position: relative;
}

.content-login .steps-form .step2-form, .content-login .steps-form .step3-form, .content-register .steps-form .step2-form, .content-register .steps-form .step3-form, .content-password .steps-form .step2-form, .content-password .steps-form .step3-form {
  display: none;
  position: relative;
  top: 0;
}

.content-login {
  position: relative;
  margin: 20px auto;
}

.content-register {
  position: relative;
  margin: 0 auto;
}

.content-password {
  position: relative;
  margin: 10px auto;
}

@media screen and (max-width: 800px) {
  .content-login, .content-register, .content-password {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.completed {
  max-width: 500px;
  width: calc(100% - 20px);
  height: 600px;
  margin: auto auto;
  background: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.completed #completed {
  color: #00faaf;
  font-size: 8em;
  -webkit-box-shadow: 0 2px 20px 5px rgba(0, 250, 175, 0.5);
          box-shadow: 0 2px 20px 5px rgba(0, 250, 175, 0.5);
  border: none;
  border-radius: 50%;
  margin-bottom: 20px;
}

.completed p {
  color: #b4bdd1;
}

.completed a {
  background: -webkit-gradient(linear, left top, right top, from(#932CFC), to(#2237E6));
  background: linear-gradient(to right, #932CFC, #2237E6);
  max-width: 250px;
  width: 100%;
  height: 50px;
  margin: 10px 0;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.completed a i {
  margin-right: 10px;
}

@media screen and (max-width: 800px) {
  .completed {
    position: relative;
    top: -160px;
    height: 400px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

/* Colors */
/* ------- */
.menu-principal .header {
  display: block !important;
}

.menu-principal .header .profile {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-principal .header .profile .profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-principal .header .profile .profile-img i {
  background: #0090ff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-principal .header .profile .profile-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.menu-principal .header .profile .profile-name h2 {
  color: white;
  font-size: 1.2em;
  max-width: 160px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu-principal .header .profile .profile-name p {
  color: #ccc;
  margin: 0;
  max-width: 160px;
  width: 100%;
}

.menu {
  margin: 20px auto !important;
}

.menu .menu-buttons {
  width: 100%;
}

.menu .menu-buttons a {
  background: #0090ff;
  max-width: 250px;
  width: 100%;
  height: 60px;
  margin: 10px auto;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0090ff;
  text-decoration: none;
  font-size: 18px;
  color: white;
}

.menu .menu-buttons a i {
  margin-right: 10px;
}

#bottom-menu {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  background: #0090ff;
  display: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#bottom-menu .menu-button {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  color: white;
  border: none;
  background-color: transparent;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

#bottom-menu .menu-button {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 800px) {
  .content-wrapper .header .profile {
    width: calc(100% - 20px);
  }
  #bottom-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* Colors */
/* ------- */
.usuario-wrapper {
  height: 250px !important;
  position: relative;
}

.usuario-wrapper .header {
  width: 100% !important;
  position: absolute;
  bottom: 30px;
}

.usuario-wrapper .header .profile {
  width: 100%;
  margin: 0;
}

.usuario-wrapper .header .profile .profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px auto;
}

.usuario-wrapper .header .profile .profile-img i {
  background: #0090ff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5em;
}

.usuario-wrapper .header .profile .profile-name {
  text-align: center;
}

.usuario-wrapper .header .profile .profile-name h2 {
  color: white;
  font-size: 1.5em;
  margin: 5px auto;
  max-width: 250px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.usuario-wrapper .header .profile .profile-name h4 {
  color: #ddd;
  margin: 5px auto;
  font-size: 20px;
  max-width: 200px;
  width: 100%;
  font-weight: 300;
}

.usuario-wrapper .header .profile .profile-name p {
  color: #ddd;
  margin: 0 auto;
  max-width: 160px;
  width: 100%;
}

/* Colors */
/* ------- */
.content-tickets {
  background: white;
  -webkit-box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  height: 320px;
  margin-top: 20px;
  border-radius: 10% 10% 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: absolute;
  bottom: 50px;
}

.content-tickets .ticket-wrapper {
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  padding: 10px;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-tickets .ticket-wrapper .no-tickets {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-tickets .ticket-wrapper .no-tickets p {
  color: #0090ff;
}

.content-tickets .ticket-wrapper .no-tickets .button {
  background: #0090ff;
  max-width: 150px;
  width: 100%;
  height: 45px;
  margin: 10px auto;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0090ff;
  text-decoration: none;
  font-size: 15px;
  color: white;
}

.content-tickets .ticket-wrapper .no-tickets .button i {
  margin-right: 10px;
}

.content-tickets .ticket-wrapper .ticket {
  background: #0090ff;
  border-radius: 20px;
  border: none;
  width: calc(100% - 10px);
  height: 80px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.content-tickets .ticket-wrapper .ticket .ticket-img {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-tickets .ticket-wrapper .ticket .ticket-img i {
  color: white;
  font-size: 3em;
}

.content-tickets .ticket-wrapper .ticket .ticket-body {
  max-width: 210px;
  width: 100%;
  text-align: left;
}

.content-tickets .ticket-wrapper .ticket .ticket-body h2 {
  color: white;
  font-size: 1.5em;
  margin: 0 auto;
  max-width: 200px;
  width: 100%;
  letter-spacing: 1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content-tickets .ticket-wrapper .ticket .ticket-body p {
  color: #ddd;
  margin: 0 auto;
  max-width: 200px;
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */